<form action="/usuario" method ="post">
    <label>Nombre:</label>
    <input type="text" name="nombre">

    <label>Apellido:</label>
    <input type="text" name="apellido">
    <input type="submit" value="Crear">
</form>